*{ /* get rid of excess margins and paddings */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.gridContainer {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: grid;
    gap: 15px 5px;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.75fr 0.5fr;
    grid-template-areas: "header header header header header header"
    "currentEvent currentEvent currentEvent currentEvent currentEvent currentEvent"
    "leftBtn leftBtn leftBtn rightBtn rightBtn rightBtn"
    "recordBtn recordBtn msgBox msgBox msgBox msgBox"
    "toggleSFX toggleSFX toggleSFX toggleTTS toggleTTS toggleTTS";
}

.gridItem {
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    font-size: 7vh;
    color: #212121;
}

.header {grid-area: header; } /* name grid areas */
.leftBtn { grid-area: leftBtn; }
.rightBtn { grid-area: rightBtn; }
.currentEvent { grid-area: currentEvent; }
.recordBtn { grid-area: recordBtn; }
.msgBox { grid-area: msgBox; }
.toggleSFX { grid-area: toggleSFX; }
.toggleTTS { grid-area: toggleTTS; }

.iconWrapper { /* positioning top right corner icons */
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.iconWrapper .material-icons { /* Top right corner icon buttons */
    font-size: 36px;
    color: rgba(0, 0, 0, 0.54);
}

.appTitle {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkcyan;
}

.bigText {
    margin:auto;
}
.currentEvent {
    font-family: 'Comfortaa';
}

.recordBtn .bigText { /* Microphone Icon */
    font-size: 9vh;
}

.msgBox {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    resize: none;
}

.toggleSFX, .toggleTTS {
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    padding: 4px;
}
.btnIcon { /* bottom button icons */
    font-size: 6vh;
    margin: 4px;
}

/* Activated state */

@media (any-hover: hover) {
    .gridItem:hover {
       background-color: gray;
    }
}